<meta charset="utf-8">
<title>
	{$title}
</title>
<meta name="author" content="">
<link href="__PUBLIC__/Home/css/global.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/css/channel.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/css/style_new.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/css/bdsstyle.css" rel="stylesheet" type="text/css">

<link type="text/css" rel="stylesheet" href="__PUBLIC__/static/layer/skin/layer.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/static/layer/skin/layer.ext.css">
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
	var ROOT = '__ROOT__',
	APP = '__APP__',
	ISLOGIN = '{$uid}';
</script>
